.weather-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to right, #2c80ff, #00398e);
  border-radius: 22px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  width: 250px;
  height: 90px;
  margin: 0 auto;
}
.weather-data svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
.weather-data-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.weather-data-name {
  font-weight: lighter !important;
  font-size: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-data-number {
  display: flex;
  font-weight: bold !important;
  font-size: 30px !important;
  align-items: center;
  justify-content: center;
  height: 33px;
}
.weather-data-sub {
  font-weight: lighter !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
