.weather-block-status {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: white;
  background-color: #5d63d1;
  width: 270px;
  height: auto;
  padding: 15px 15px 15px 15px;
}
.weather-city {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7px;
}
.weather-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 7px;
}
.weather-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.weather-now {
  display: flex;
  justify-content: space-between;
}
.weather-week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
