/*Настройки основного блока*/
.main-container{
    width: 100vw;
    height: auto;
    background-color: #3e8eff;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
}
.main-container .wave-svg{
    margin-bottom: -80px;
}

/*Настройка кнопки*/
.button-city{
    display: flex;
    justify-content: center;
}
.text-button{
    color: white;
    font-weight: bold !important;
    display: flex;
    flex-direction: row-reverse;
}

/*Блок с лучшим временем*/
.best-time-data{
    color: white;
    font-weight: bold !important;
    font-size: 35px !important;
}
.best-time-data-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.best-time-text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px !important;
    font-weight: lighter !important;
    padding-bottom: 5px;
}

/*Блок с данными погоды*/
.weather-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #2C80FF, #00398E);
    border-radius: 22px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    width: 250px;
    margin: 0 auto;
}
.weather-data svg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.weather-data-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.weather-data-name{
    font-weight: lighter !important;
    font-size: 10px !important;
}
.weather-data-number{
    display: flex;
    font-weight: bold !important;
    font-size: 30px !important;
    align-items: center;
    justify-content: center;
    height: 33px;
}
.weather-data-sub{
    font-weight: lighter !important;
    display: flex;
    align-items: center;
    justify-content: center;
}