.button {
    color: black!important;
    justify-content: flex-start!important;
}

.button-icon {
    font-size: 30px;
    margin-right: 10px;
}

.card-up {
    width: 100%;
    height: 220px;
    border-bottom-left-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
    background-color: #5D63D1 !important;
}

.card-down {
    min-width: 200px!important;
    margin: 80px!important;
    border-radius: 25px!important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)!important;
}

.card-contentUp {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
}

.card-contentDown {
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-start!important;
}

.avatar {
    width: 100px!important;
    height: 100px!important;
}