.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}


.welcome-container {
  width: auto;
  height: 250px;
  border-radius: 30px;
}
.better-time-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.wearth-block {
  width: 300px;
  height: auto;
  background-color: #5d63d1;
}
.values-wearth {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.values-wearth-name {
  padding-top: 15px;
  padding-left: 15px;
}
.wearth-today-block {
  width: 275px;
  height: auto;
  padding: 15px 15px 15px 15px;
  float: left;
  border-radius: 20px !important;
}
.wearth-city {
  float: left;
}
.wearth-status {
  float: right;
}
.wearth-day {
  float: left;
}
.wearth-week{
  display: flex;
  justify-content: center;
}
