/*Расположение элементов в странице*/
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

/*Блок с лучшим временем*/
.welcome-container {
  width: auto;
  height: 250px;
  border-radius: 30px;
}
.better-time-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.weather-typography-today {
  padding-top: 10px;
  padding-bottom: 5px;
}
.welcome-name {
  padding-top: 5px;
  padding-bottom: 10px;
}

/*Верстка микро блоков*/
.micro-blocks {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: #5d63d1;
  border-radius: 20px;
  color: white;
}
.weather-all-micro-blocks {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px; /*90% для мобильной версии  30 для пк при 100% */
  height: auto;
}
.wether-micro-name {
  padding-left: 3px;
}
