.weather-block {
  width: 310px;
  height: auto;
  background-color: #5d63d1;
  color: white;
  border-radius: 20px;
}
.values-weather-name {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.values-weather {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
